div.cal{

align-items: center; 


}
div.con {
    height: 500px;
    
    background-color: powderblue;
    align-content: center;
    border: solid 9px black;
    margin-left: 35%;
    margin-right: 35%;
    padding: 30px 30px 30px 30px;
}
div.button{


    border: solid 2px red;
    padding: 30px 30px 30px 30px;
     
}
input[type=button] {
   width: 60px;
   height: 60px;
   font-size: 30px;
}
input[type=text]{

    border: 3px solid #555;
    height: 50px;
    width: 100%;
}